InterfazWeb/Service References/ServiceReference1/ServicioListaProveedores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60578/ServicioListaProveedores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFListaProveedores" />
  <xs:element name="ListarProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFListaProveedores" minOccurs="0" name="ListarProveedoresResult" nillable="true" type="q1:ArrayOfDTOProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>