Service References/ServicioNuevoProv/ServicioCatalogo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servicio" nillable="true" type="tns:Servicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicio" nillable="true" type="tns:ArrayOfServicio" />
  <xs:complexType name="Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eventos" nillable="true" type="tns:ArrayOfTipo_Evento" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servicio" nillable="true" type="tns:Servicio" />
  <xs:complexType name="ArrayOfTipo_Evento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo_Evento" nillable="true" type="tns:Tipo_Evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo_Evento" nillable="true" type="tns:ArrayOfTipo_Evento" />
  <xs:complexType name="Tipo_Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_Evento" nillable="true" type="tns:Tipo_Evento" />
</xs:schema>