InterfazWeb/Service References/ServicioProveedorXRut/ServicioProveedorXRut.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61021/ServicioProveedorXRut.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFProveedorXRut" />
  <xs:element name="FindById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFProveedorXRut" minOccurs="0" name="FindByIdResult" nillable="true" type="q1:DTOProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>