InterfazWeb/Service References/ServicioCatalogo/ServicioCatalogo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProvEventos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProvEventos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogoServicios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoServicios" nillable="true" type="tns:CatalogoServicios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoServicios" nillable="true" type="tns:ArrayOfCatalogoServicios" />
  <xs:complexType name="CatalogoServicios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoServicios" nillable="true" type="tns:CatalogoServicios" />
</xs:schema>